/* ===============================
   RESET (PRONTO)
=============================== */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*    font-family: 'Roboto Mono', monospace;*/
}

/* ===============================
   🎯 DESAFIO 2 (CSS)
   👉 Criar variáveis de cor


=============================== */
:root {
  --cor-principal: #f591dca9;
  --cor-secundaria: #721093;
}

/* ===============================
   BODY (PRONTO)
=============================== */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px 20px;

    /* TODO: adicionar background bonito */
}

/* ===============================
   CONTAINER (BASE PRONTA)
=============================== */
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px 60px;
    background-color: #faf9f9;
    border-radius: 15px;
}

.container-mae-task{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;

}
.container-task{
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 4.2px 5.5px 5.5px hsl(0deg 0% 0% / 0.37);
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and potential scale */
    background-color: #faf3f3;
}

.container-task:hover {
  /* Larger, more prominent shadow on hover */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4); 
  transform: translateY(-5px); /* Optional: slight lift effect */
}
.container-task p{
    padding: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ===============================
   🎯 DESAFIO 3 (CSS)
   👉 Estilizar HEADER
=============================== */
.header {
    justify-items: center;
    text-align: center;
    font-family: Arial;
}
.titulo{
    display: flex;
    align-items: center;
    font-family: "Dancing Script", cursive;
    color: var(--cor-secundaria);
    font-size: 30px;
    
}

#icone{
    width: 5vw;
    margin: 15px;
}

/* ===============================
   🎯 DESAFIO 4 (CSS)
   👉 Criar layout dos CARDS
=============================== */
.stats {
    margin: 20px 0;
}

/* ===============================
   ADD TASK (BASE)
=============================== */
.add-task {
    display: flex;
    gap: 10px;
}

.add-task input {
    flex: 1;
    padding: 10px;
}

.btn-add {
    cursor: pointer;
}

/* ===============================
   🎯 DESAFIO 5 (CSS)
   👉 Estilizar filtros
=============================== */
.filters {
    margin: 20px 0;
}

/* ===============================
   🎯 DESAFIO 6 (CSS)
   👉 Estilizar tarefas
=============================== */
.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Classe importante (JS usa!) */
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

